---
import TopArtist from '@/components/TopArtist.astro'
import SecondThirdArtist from './SecondThirdArtist.astro'
import Artist from './Artist.astro'
import type { ArtistInfo } from '@/env'
// import Vibrant from 'node-vibrant'
const { playlistInfo } = Astro.props
---

<main
	class='container mx-auto flex h-full min-h-screen max-w-md flex-col gap-5 p-7'
>
	<TopArtist artist={playlistInfo.artists[0]} />
	<section class='flex flex-row justify-around'>
		<SecondThirdArtist
			artist={playlistInfo.artists[1]}
			number={'Second'}
		/>
		<SecondThirdArtist
			artist={playlistInfo.artists[2]}
			number={'Third'}
		/>
	</section>
	<section
		class='flex h-full flex-col gap-6 overflow-y-auto'
		id='artists'
	>
		<div class='flex flex-row items-center justify-between px-[0.375rem]'>
			<h1 class='text-xl font-bold text-[#DBDBDB]'>Other artists</h1>
			<small class='text-xs text-[#C6C6C6]'>Sort Ascending</small>
		</div>
		<article class='flex flex-col gap-5'>
			{
				playlistInfo.artists
					.slice(3)
					.map((artist: ArtistInfo) => <Artist artist={artist} />)
			}
		</article>
	</section>
</main>

<style>
	#artists::-webkit-scrollbar {
		display: none;
	}

	#artists {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
</style>